<div class="mat-elevation-z2">
  <table mat-table [dataSource]="jobs">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Título da vaga</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>

    <!-- Skills Column -->
    <ng-container matColumnDef="skills">
      <th mat-header-cell *matHeaderCellDef>Skills</th>
      <td mat-cell *matCellDef="let row">{{row.skills}}</td>
    </ng-container>

    <!-- Experience Column -->
    <ng-container matColumnDef="experience">
      <th mat-header-cell *matHeaderCellDef>Experiência</th>
      <td mat-cell *matCellDef="let row">{{row.experience}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Data de publicação</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status de publicação</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/jobs/update/{{ row.id }}" class="edit">
          <i class="material-icons">
            edit
          </i>
        </a>
        <a routerLink="/jobs/delete/{{ row.id }}" class="delete">
          <i class="material-icons">
            delete
          </i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
