table {
  width: 100%;
}

.th-id {
  width: 30px;
  padding-right: 20px;
}

table th:not(.th-id) {
  min-width: 70px;
  padding-right: 20px;
}

a + a {
  margin-left: 16px;
}

.edit > i{
  color: #0043bf;
}

.delete > i {
  color: #ce1729;
}

.info {
  vertical-align: middle;
  margin-left: 4px;
  font-size: 22px;
}


@media (max-width: 960px) {
  table th:not(.th-id) {
    width: auto;
  }
}
